@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  font-family: "Inter", sans-serif;
  background: #000000;
}
.neon-glow {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.neon-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px);
  border-radius: 50%;
  z-index: -1; 
  opacity: 0;
  background: currentColor;
  transition: opacity 0.3s ease-in-out;
}

.neon-glow:hover::after {
  opacity: 1;
}

.neon-glow:hover {
  transform: scale(1.1);
  filter: brightness(1.5);
}
